<!DOCTYPE HTML>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->
    <title>"Abschlussarbeitsinfotool"</title>
</head>

<body>

<link rel="stylesheet" href="style.css">
<!-- <link rel="stylesheet" href="bulma-0.7.1/css/bulma.css">   -->
<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
-->

<header>

    <h1 class = "site-logo"><img src="TH_Nuernberg_RGB.jpg"
                                 alt="Logo der Startseite"
                                 width = "340"
                                 height = "50"></h1>
    <div class ="a">
        <p class="site-slogan" style = color:black><strong>ThesisAndMore</strong></p>
        <p class="site-slogan-beschreibung" style = color:black >Dein Weg zur Abschlussarbeit!</p>
    </div>

</header>

<nav class="site-nav">

    <ul class="site-nav-list">
        <li><a href ="startseite.html">Startseite</a></li>
        <li><a href ="allgInfo.html">Allgemeine Informationen</a></li>
        <li><a href ="abschlussarbeitsthemen.html">Abschlussarbeitsthemen</a></li>
        <li><a class="current" href ="professoren.html">Professoren</a></li>
        <li><a href ="faq.html">FAQ</a></li>
        <div class ="site-nav-right">
            <li><a href = "#email"><a href ="mailto:info@th-nuernberg.de">E-Mail</a></link></a></li>
            <li><a href = "#tel"><link>+49 911/5880-0</link></a></li>
        </div>
    </ul>

</nav>

<main class="mainClass">
    <p class="begrueßung" style = color:black>Professoren der Fakultät Informatik</p>


</main>

<!--<div class="card">
    <img class="bilder" src="img_avatar.png" alt="Avatar" style="width:10.5%">
    <div class="container">
        <h4><b>John Doe</b></h4>
        <p class="schwergebiet">Architect & Engineer</p>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
    <img class="bilder" src="img_avatar2.png" alt="Avatar" style="width:10%">
    <div class="container">
        <h4><b>Julia Rose</b></h4>
        <p class="schwergebiet">E-Commerce</p>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>-->



<div class="card">
    <img class="profilbild" src="img_avatar.png" alt="Avatar">
    <div class="container">
        <h4 style="text-align: center"><b>Peter Rausch</b></h4>
        <div class="infos">
            <p>Wirtschaftsinformatik</p>
            <p>Prozessmanagement</p>
            <p>Projektmanagement</p>
        </div>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>


<div class="card">
    <img class="profilbild" src="img_avatar.png" alt="Avatar">
    <div class="container">
        <h4 style="text-align: center"><b>Michael Stumpf</b></h4>
        <div class="infos">
            <p>Wirtschaftsinformatik</p>
            <p>Prozessmanagement</p>
            <p>Projektmanagement</p>
        </div>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>

<div class="card">
    <img class="profilbild" src="img_avatar2.png" alt="Avatar">
    <div class="container">
        <h4 style="text-align: center"><b>Patricia Brockmann</b></h4>
        <div class="infos">
            <p>Wirtschaftsinformatik</p>
            <p>Prozessmanagement</p>
            <p>Projektmanagement</p>
        </div>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>

<div class="card">
    <img class="profilbild" src="img_avatar.png" alt="Avatar">
    <div class="container">
        <h4 style="text-align: center"><b>Alfred Holl</b></h4>
        <div class="infos">
            <p>Wirtschaftsinformatik</p>
            <p>Prozessmanagement</p>
            <p>Projektmanagement</p>
        </div>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>

<div class="card">
    <img class="profilbild" src="img_avatar2.png" alt="Avatar">
    <div class="container">
        <h4 style="text-align: center"><b>Heidi Schuhbauer</b></h4>
        <div class="infos">
            <p>Wirtschaftsinformatik</p>
            <p>Prozessmanagement</p>
            <p>Projektmanagement</p>
        </div>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>

<div class="card">
    <img class="profilbild" src="img_avatar.png" alt="Avatar">
    <div class="container">
        <h4 style="text-align: center"><b>Joachim Scheja</b></h4>
        <div class="infos">
            <p>Wirtschaftsinformatik</p>
            <p>Prozessmanagement</p>
            <p>Projektmanagement</p>
        </div>
        <p><a href="mailto:info@th-nuernberg.de"><button><img class="icon" src="mailIcon.png"></button></a></p>
    </div>
</div>

<script src="javascript.js"></script>


</body>