<!DOCTYPE HTML>

<head>
    <meta charset="UTF-8">



    <link rel="stylesheet" href="style.css">
    <title>"Abschlussarbeitsinfotool"</title>
</head>

<body>




<header>

    <h1 class = "site-logo"><img src="TH_Nuernberg_RGB.jpg"
                                 alt="Logo der Startseite"
                                 width = "340"
                                 height = "50"></h1>
    <div class ="a">
        <p class="site-slogan" style = color:black><strong>ThesisAndMore</strong></p>
        <p class="site-slogan-beschreibung" style = color:black >Dein Weg zur Abschlussarbeit!</p>
    </div>

</header>

<nav class="site-nav">

    <ul class="site-nav-list">
        <li><a class="current" href ="startseite.html">Startseite</a></li>
        <li><a href ="allgInfo.html">Allgemeine Informationen</a></li>
        <li><a href ="abschlussarbeitsthemen.html">Abschlussarbeitsthemen</a></li>
        <li><a href ="professoren.html">Professoren</a></li>
        <li><a href ="faq.html">FAQ</a></li>

        <div class ="site-nav-right">
            <li><a href = "#email"><a href ="mailto:info@th-nuernberg.de">E-Mail</a></link></a></li>
            <li><a href = "#tel"><link>+49 911/5880-0</link></a></li>
        </div>
    </ul>


</nav>


<div class="container1">
    <img src="homepic.jpg" alt="graduation" style="width: 1264px; height: 650px;">
    <div class="text-block">
        <h4>Willkommen bei ThesisAndMore!</h4>
        <p class="begrueßung2" style="text-align: center">Hier finden Sie alle nötigen Informationen bezüglich Ihrer Abschlussarbeit</p>
    </div>
</div>



<main class="mainClass">

</main>



</body>






